*{
    box-sizing: border-box;
}

#hexbotContent{
    width: 225px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

main{
    text-align: center;
}

.dot{
    margin: 2px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: .5em;
}

@media (min-width: 600px){
    #hexbotContent{
        width: 550px;
    }
}

@media (min-width: 1200px){
    #hexbotContent{
        width: 1100px;
    }
}